.banner {   
  &__items {
    background-color: rgba($accent,0.2);  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
  }  
  
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 42px 65px; 
    
    &:not(:last-child) {
      border-right: 1px solid rgba($titlemain,0.102);      
    }
  }  

  &__subtitle {
    position: relative;
    @extend %sans-700;    
    font-size: 18px;
    line-height: 2.2;      
    color: $subtitle;      
  }   
  
  &__support,
  &__delivery,
  &__card {    
    &::before {
      content: '';      
      position: absolute;
      top: 10px;
      left: -80px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  
  &__support {
    &::before {
      background-image: url('../images/icons/support.svg');
      width: 60px;
      height: 50px;
    }
  }  
  
  &__delivery {
    &::before {
      background-image: url('../images/icons/delivery.svg');
      width: 60px;
      height: 30px;
    }
  }  
  
  &__card {
    &::before {
      background-image: url('../images/icons/credit-card.svg');
      width: 60px;
      height: 45px;
    }
  }

  &__text {    
    @extend %sans-400;   
    font-size: 16px;
    line-height: 1.875;      
    color: $graytextdark; 
    max-width: 240px;   
  }
}

.slidermain {
  &__item {    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;      
    padding: 217px 0 280px 300px;
  } 
  
  &__link {
    outline: transparent;
  }

  &__btn {
    max-width: 200px;
    min-height: 60px;    
    padding: 16px 40px 15px 29px;
    color: $white;
    background-color: $icon;

    &:hover {
      background-color: $greendark;
    }

    &:focus {
      border: 2px solid $greendark;
    }

    &:active {
      color: $titlemain;
      background-color: $white;
    }
    
    &::before {
      background-image: url(../images/icons/arrow.svg);
      right: 19px;
    }
  }

  &__title {
    @extend %rubik-500;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 1;
    color: $titlemain;
    max-width: 500px;
    margin-bottom: 22px;
  }  

  &__text {
    font-size: 18px;
    line-height: 1.7;
    color: $greendark;
    max-width: 365px;
    margin-bottom: 36px;
  }

  .slick-dots {
    display: flex;    
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);

    li {
      &:not(:last-child) {
        margin-right: 11px;
      }

      button {
        padding: 0;         
        @extend %rubik-500;
        font-size: 11px;
        color: $titlemain;
        background-color: $white;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        outline: transparent; 
        opacity: 0.3;
      }
      &.slick-active {
        button {         
          opacity: 1;
        }
      }
    }
  }
}

