.footer {
  font-size: 14px;
  line-height: 1.7;
  color: $graytext;
		
  &__top {
    padding: 80px 0 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
  }  

  &__item {
    &:first-child {
      max-width: 195px;
    }

    &:last-child {
      max-width: 270px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 25px;
  }
  
  &__title {
    @extend %sans-700;
    font-size: 16px;
    line-height: 1.3;
    color: $titlefooter;
    margin-bottom: 25px;
  }  

  &__point {
    margin-bottom: 8px;
  }  

  &__link {
    color: inherit;
    transition: all .3s ease-in-out;

    &:hover {
      border-bottom: 1px solid $graytext;
    }

    &:focus {
      outline: 1px solid $graytext;
    }

    &:active {
      color: $icon;      
    }
  }  

  &__text {
    margin-bottom: 35px;
  }  

  &__form {
    @extend %sans-400;
    display: flex;
  }

  &__input,
  &__btn {
    border: none;
    cursor: pointer;
  }
  
  &__input {    
    font-size: 12px;
    background-color: rgba($accent, 0.2);   
    max-width: 170px;
    padding: 9px 16px;
    outline: transparent;
    transition: all .3s ease-in-out;
    
    &:hover {
      outline: 1px solid $graytext;
    }
    
    &:focus {
      background-color: $icon;
      opacity: 0.2;
    }
    
    &:active {        
      background-color: $white;
    }
    
    &::placeholder {
      color: $greeninput;        
    }
  }  
  
  &__btn {
    font-size: 14px;
    background-color: $icon;
    color: $white;
    max-width: 100px;
    padding: 0 16px;
    transition: all .3s ease-in-out;
    
    &:hover {      
      color: $greeninput;
    }
    
    &:focus {
      outline: 1px solid $greeninput;
    }

    &:active {
      background-color: $graytext;      
    }
  }  

  &__bottom {
    padding: 24px 0 39px;
    display: flex;
    justify-content: space-between;
  }  

  &__copy {
    font-size: 12px;
  }
  
  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__par:not(:last-child) {
    margin-right: 30px;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -15px;
      top: 3px;      
      width: 2px;
      height: 17px;
      background-color: $graytext;
    } 
  }
}

.address {
  font-style: normal;    

  &__link {
    display: block;
    color: inherit;
    margin-bottom: 8px;
    transition: all .3s ease-in-out;
    
    &:hover {
      border-bottom: 1px solid $graytext;
    }

    &:focus {
      outline: 1px solid $graytext;
    }

    &:active {
      color: $icon;      
    }
  }

  &__phone,
  &__mail {
    white-space: nowrap;
  }

  &__subtitle {
    text-transform: uppercase;
  }
}