html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %rubik-400;
  font-size: 16px;
  line-height: 1.9;
  background-color: $white;
  color: $titlemain;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  
  &--section {
    max-width: 1200px;
  }

  &--sliderpartners {
    max-width: 1060px;
    margin: 0 auto;
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {  
  @extend %sans-700;    
  font-size: 36px;
  line-height: 1.2;
  color: $menuhover;   
  text-align: center;  
}

button {
  border: none;
  background: none;
  outline: transparent;
  cursor: pointer;
}

.btn {
  @extend %rubik-500; 
  display: flex;   
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  outline: transparent; 

  svg {
    width: 22px;
    height: 9px;    
  } 
}

a {
  color: inherit;
}