@mixin for-phone-only {
  @media (max-width: 574px) { @content; }
}
@mixin for-tablet-portrait-only {
  @media (max-width: 767px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (max-width: 899px) { @content; }
}
@mixin for-desktop-only {
  @media (max-width: 1199px) { @content; }
}
@mixin for-big-desktop-only {
  @media (max-width: 1535px) { @content; }
}

@mixin line-clamp-3 {
  @extend %line-clamp;
  -webkit-line-clamp: 3;  
} 

@mixin line-clamp-2 {
  @extend %line-clamp;  
  -webkit-line-clamp: 2;  
}

@mixin line-clamp-1 {
  @extend %line-clamp;  
  -webkit-line-clamp: 1;  
}
