%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%sans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%sans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%line-clamp {
  display: -webkit-box;  
  -webkit-box-orient: vertical;
  overflow: hidden;  
}

$accent: #fcd7b6;
$white: #fff;         
$titlemain: #243f4d;
$desing-bg: #f8f8f8;
$video-bg: #e6e6e6;
$news-bg: #e1e1e1;
$partners-bg: #fef7f0;
$bordernews: #e0e0e0;
$title: #191919;
$data: #222933;
$subtitle: #414141;
$titlefooter: #1f2044;
$icon: #a3bbc8;
$greendark: #436372;
$greeninput: #234969;
$graytext: #7b7b7b;
$graytextdark: #585858;
$arrow: #262626;
$menu: #8b8b8b;
$menuhover: #1a1a1a;

