%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%sans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%sans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

$accent: #fcd7b6;
$white: #fff;         
$titlemain: #243f4d;
$title: #191919;
$subtitle: #414141;
$titlefooter: #1f2044;
$icon: #a3bbc8;
$greendark: #436372;
$greeninput: #234969;
$graytext: #7b7b7b;
$graytextdark: #585858;
$menu: #8b8b8b;
$menuhover: #1a1a1a;

