.about {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
    
    @include for-desktop-only {
      padding: 80px 0;      
    }
    
    @include for-tablet-landscape-only {
      flex-direction: column;
      padding: 50px 0;      
    }

    @include for-phone-only {
      padding: 25px 0;
    }
  }
  
  &__visual {
    width: 100%;
    height: 100%;    
    
    @include for-tablet-landscape-only {
      max-width: 400px;
      margin: 0 auto 30px;
    }

    @include for-phone-only {
      max-width: 290px;      
    }    
  }
  
  &__img { 
    max-width: 570px;
    height: auto;    
    object-fit: cover;
    
    @include for-desktop-only {
      max-width: 400px;    
    }
    
    @include for-phone-only {
      max-width: 290px;      
    }
  } 

  &__content {
    padding: 65px 15px 90px 45px;
    
    @include for-desktop-only {
      padding: 15px 15px 15px 25px;      
    }

    @include for-tablet-landscape-only {
      padding: 0 15px;
    }
  }

  &__box {
    display: flex;
    margin-bottom: 25px;
    
    @include for-desktop-only {
      margin-bottom: 20px;      
    }

    @include for-tablet-landscape-only {      
      max-width: 235px;
      margin: 0 auto 20px;
    }
  }  
  
  &__pic {    
    @extend %rubik-700;
    font-size: 140px;    
    color: $icon;    
    line-height: 1;

    @include for-desktop-only {
      font-size: 120px;      
    }  
  }  
  
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    margin-left: 30px;
  }  

  &__point {
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  } 

  &__title {
    text-align: left;
    color: $titlemain;
    margin-bottom: 35px;
    
    @include for-desktop-only {
      margin-bottom: 25px; 
      font-size: 30px;     
    }
    
    @include for-tablet-landscape-only {
      text-align: center;
    }
    
    @include for-phone-only {
      font-size: 26px;      
    }
  }  

  p {    
    margin-bottom: 55px;
    
    @include for-desktop-only {
      margin-bottom: 35px;      
    }
  }  

  &__items {
    display: flex;
    justify-content: space-between;    
    padding-top: 35px;
    position: relative;

    @include for-desktop-only {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      text-align: center;
      padding-top: 70px;      
    }
    
    @include for-phone-only {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
    }

    &::before {
      content: '';
      max-width: 500px;
      width: 92%;      
      height: 3px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $aboutline;

      @include for-desktop-only {
       max-width: 840px;
       width: 100%;
      }      
    }    
  }

  &__item {
    position: relative;
    padding: 0 31px 0 55px;
    
    @include for-desktop-only {
      padding: 0;
    }
    
    @include for-phone-only {
      padding-top: 50px;
      margin-bottom: 30px;
    }

    &::before {
      content: '';     
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; 
      
      @include for-desktop-only {
        top: -80%;
        left: 50%;
        transform: translateX(-50%);        
      }

      @include for-phone-only {
        top: 0;
      }
    }

    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        top: -10px;        
        right: 0;
        width: 1px;
        height: 80px;
        background-color: $aboutline;
        
        @include for-desktop-only {
          height: 120px;
          top: -80%;
          right: -10px;
        }

        @include for-phone-only {
          display: none;
        }
      }
    }

    &--projects {
      &::before {
        background-image: url('../images/icons/list.svg');
        width: 36px;
        height: 38px;
      }
    }

    &--revenue {
      &::before {
        background-image: url('../images/icons/horn.svg');
        width: 43px;
        height: 39px;
      }
    }

    &--awards {
      &::before {
        background-image: url('../images/icons/medal.svg');
        width: 42px;
        height: 40px;
      }
    }
  }
  
  &__num,
  &__desc {
    display: block;
    @extend %sans-700;
    line-height: 1.2;
  }

  &__num {
    font-size: 36px;
    
    @include for-desktop-only {
      font-size: 30px;    
    }
  }   

  &__desc {
    color: $aboutdesc;
  }  
}

.statistics {
  background-color: $accent;
  padding: 150px 0 73px;

  @include for-desktop-only {
    padding: 100px 0 50px;
  }

  @include for-tablet-landscape-only {
    padding: 90px 0 20px;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    
    @include for-tablet-landscape-only {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 80px;
      max-width: 650px;
      margin: 0 auto;
    }
    
    @include for-tablet-portrait-only {
      max-width: 550px;
      grid-column-gap: 15px;      
    }

    @include for-phone-only {
      display: flex;
      flex-direction: column;      
      align-items: center;
    }
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;

    @include for-phone-only {
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      height: 64px;
      position: absolute;
      top: -33%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @include for-desktop-only {
        height: 50px;
        width: 60px;
      }
    }
  }

  &__item--clients {
    &::before {
      background-image: url('../images/icons/statistic.svg');
      width: 73px;      
    }
  } 
  
  &__item--deliver {
    &::before {
      background-image: url('../images/icons/car.svg');
      width: 72px;      
    }
  }  
  
  &__item--time {
    &::before {
      background-image: url('../images/icons/phone-time.svg');
      width: 78px;     
    }
  }  
  
  &__item--brands {
    &::before {
      background-image: url('../images/icons/reward.svg');
      width: 60px;      
    }
  }

  &__num,
  &__desc {
    @extend %sans-700;
    color: $titlemain;
    line-height: 1.8;

    @include for-desktop-only {
      line-height: 1.5;
    }
  } 
  
  &__num {
    font-size: 36px;

    @include for-desktop-only {
      font-size: 32px;
    }
  }  
  
  &__desc {
    font-size: 18px;
  }
}
