.banner {   
  &__items {
    background-color: rgba($accent, 0.2);  
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    
    @include for-desktop-only {      
      grid-template-columns: repeat(2, 1fr);      
    }

    @include for-phone-only {
      display: block;
    }
  } 
  
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 36px 0; 
    
    @include for-desktop-only {      
      padding: 70px 0 36px;      
    }

    @include for-tablet-portrait-only {
      padding: 70px 15px 30px;
    }
    
    @include for-phone-only {
      min-height: 150px;         
      padding: 15px;      
    }

    &:not(:last-child) {
      border-right: 1px solid rgba($titlemain, 0.1); 
      
      @include for-phone-only {
        border-right: none;
      }
    }
    
    &:nth-child(2) {
      @include for-desktop-only {      
        border-right: none;
      }

      @include for-phone-only {
        border-top: 1px solid rgba($titlemain, 0.1);        
      }
    }

    &:last-child {
      @include for-desktop-only {
        grid-column: span 2;
        border-top: 1px solid rgba($titlemain, 0.1);         
      }
    }

    &::before {
      content: '';
      width: 60px;
      position: absolute;
      top: 50px;
      left: 23%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      
      @include for-big-desktop-only {
        left: 14%;        
      }

      @include for-desktop-only {        
        top: 5%;
        left: 50%;
        transform: translate(-50%, 35%);
      }    

      @include for-phone-only {
        content: none;
      }
    }     

    &--support {
      &::before {
        background-image: url('../images/icons/support.svg');
        height: 50px;

        @include for-big-desktop-only {
          height: 40px;
        }
      }
    }  
    
    &--delivery {
      &::before {
        background-image: url('../images/icons/delivery.svg');        
        height: 38px;

        @include for-big-desktop-only {
          height: 32px;
        }
      }
    }  
    
    &--card {
      &::before {
        background-image: url('../images/icons/credit-card.svg');       
        height: 52px;

        @include for-big-desktop-only {
          height: 42px;
        }
      }
    } 
  }

  &__content {
    max-width: 300px;
    width: 100%; 
    padding-left: 65px;
    
    @include for-tablet-landscape-only {     
      padding: 0 15px;
    }
    
    @include for-tablet-portrait-only {
      max-width: 350px;     
    }
  }

  
  &__subtitle {    
    @extend %sans-700;    
    @include line-clamp-1;
    font-size: 18px;
    line-height: 2.2; 
    color: $subtitle;    
  }

  & p {    
    @extend %sans-400;
    @include line-clamp-2;
    letter-spacing: 0.2px;
    color: $graytextdark; 
  }
}

.slidermain {
  &__item {     
    background-color: $accent;
    position: relative;    
    padding: 215px 0 280px 300px;    
    
    @include for-big-desktop-only  {     
      padding: 190px 0 170px 150px;     
    }
    
    @include for-desktop-only {
      padding: 70px 0 90px 50px;      
    }
    
    @include for-tablet-landscape-only {
      padding: 90px 0 110px 80px;      
    } 
    
    @include for-phone-only {
      padding: 215px 25px 50px ;
    }

    &::before {
      content: '';
      display: block;
      max-width: 609px;
      width: 100%;
      min-height: 634px;
      background-image: url('../images/banner/cirсle.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 98px;
      right: 185px;
      
      @include for-big-desktop-only  {
        max-width: 450px;        
        min-height: 470px;
        top: 16%;
        right: 5%;
      }

      @include for-desktop-only {
        max-width: 289px;        
        min-height: 300px;        
      }

      @include for-tablet-landscape-only {
        max-width: 225px;        
        min-height: 235px;
      }

      @include for-phone-only {
        top: 10%;
      }
    }
  } 
  
  &__link {
    display: block;
    font-size: 18px;
    line-height: 1.7;
    color: $greendark;
    margin-bottom: 36px;
    outline: transparent;
    
    @include for-desktop-only {
      margin-bottom: 25px;      
    }
    
    @include for-tablet-landscape-only {
      font-size: 16px;
      line-height: 1.2;      
      margin-bottom: 15px;      
    }
    
    & p {
      @include line-clamp-2;
      max-width: 365px;
      
      @include for-desktop-only {
        max-width: 300px;        
      }
      
      @include for-tablet-landscape-only {
        max-width: 250px;       
      }

      @include for-phone-only {
        max-width: 350px;
      }
    }
  }  

  &__btn {    
    max-width: 200px;
    min-height: 60px;
    padding: 16px 19px 16px 29px;
    color: $white;
    background-color: $icon;
    transition: background-color .3s ease-in;
    
    @include for-desktop-only {
      max-width: 170px;
      min-height: 55px;
      padding: 14px 17px 14px 27px;
    }

    @include for-phone-only {
      max-width: 320px;
      width: 100%;      
    }
    
    &:hover {
      background-color: $greendark;
    }
    
    &:focus {
      border: 2px solid $greendark;
    }
    
    &:active {
      color: $titlemain;
      background-color: $white;
      
      svg {
        fill: $titlemain;
      }
    }
    
    svg {
      fill: $white;
    }
  }

  &__visual {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 640px;
    height: auto;
    transform: translate(-8%, -50%);
    
    @include for-big-desktop-only  {
      left: 55%;
      max-width: 500px;      
      transform: translate(0, -50%);      
    }
    
    @include for-desktop-only {
      max-width: 350px;      
    }
    
    @include for-tablet-landscape-only {
      left: 50%;
      transform: translateY(-70%);
      max-width: 310px;      
    }

    @include for-phone-only {
      top: 38%;
      left: 18%;
    }
  }

  &__title {
    @extend %rubik-500;
    @include line-clamp-2;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 1;
    color: $titlemain;
    max-width: 500px;
    margin-bottom: 22px;

    @include for-big-desktop-only  {
      font-size: 60px;      
    }
    
    @include for-desktop-only {
      font-size: 45px;      
      max-width: 350px;
      margin-bottom: 10px;      
    }
    
    @include for-tablet-landscape-only {
      font-size: 32px;      
      max-width: 250px;
      margin-top: 20px;      
    }
  }    

  .slick-dots {
    display: flex;    
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
    
    @include for-desktop-only {
      bottom: 35px;
    }
    
    @include for-tablet-landscape-only {
      bottom: 25px;      
    }    

    li {
      &:not(:last-child) {
        margin-right: 11px;
      }

      &.slick-active {
        button {         
          opacity: 1;
        }
      }
    }

    button {
      padding: 0;         
      @extend %rubik-500;
      font-size: 11px;
      color: $titlemain;
      background-color: $white;
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 100%;        
      opacity: 0.3;
      transition: opacity .3s ease-in; 

      @include for-phone-only {
        display: none;
      }
      
      &:hover {
        opacity: 0.8;
      }
    }
  }  
}