.desing {
  padding: 30px 0 0;		

  &__title {
    text-transform: capitalize;
    margin-bottom: 20px;
  } 

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    column-gap: 32px;
    margin-bottom: 120px;
    
    @include for-tablet-landscape-only {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 25px;
      column-gap: 25px;
      margin-bottom: 90px;      
    }
    
    @include for-tablet-portrait-only {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-bottom: 60px;        
    }    
  }
  
  &__item {
    position: relative;
    min-height: 246px;
    overflow: hidden;
    background-color: $desing-bg;
    transition: background-color .3s ease-in;

    &::hover {
      background-color: rgba($accent, .1);
    }
    
    @include for-desktop-only {
      min-height: 200px;
      padding: 25px 0 0 25px;
    }
    
    @include for-tablet-portrait-only {
      max-width: 340px;
      width: 100%;
    }    
  }
  
  &__link {
    display: block;
    width: 100%;
    height: 100%;    
  }
  
  &__content {
    padding: 36px 0 0 35px;
    position: absolute;
    z-index: 2;
    max-width: 175px;
  }

  &__name,
  &__category {
    @extend %sans-700;
    line-height: 1.2;
    text-transform: capitalize;
  }  

  &__name {
    @include line-clamp-2;
    font-size: 20px;    
    color: $menuhover;
    margin-bottom: 10px;
  }    
  
  &__category {
    @include line-clamp-1;
    color: $icon;
  }
  
  &__visial {    
    position: absolute;
    left: 46%;
    bottom: 35px; 
    
    @include for-tablet-landscape-only {
      left: 50%;
      bottom: 25px;      
    }
    
    @include for-tablet-portrait-only {
      left: 40%;
      bottom: 5px;       
    }

    @include for-phone-only {
      left: 46%;
    }
  }

  &__img {
    height: 100%;
    max-width: max-content;
  }
}

.videodes {  
  &__link {
    display: flex; 
    justify-content: center;  
    background-color: $video-bg;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 201px 0;
    overflow: hidden;

    @include for-tablet-landscape-only {
      padding: 120px 0;
    }

    @include for-phone-only {
      display: none;
    }
  }
  
  &__icon {
    display: block;    
    position: relative;
    width: 98px;
    height: 98px;
    border-radius: 100%;
    background-color: $icon; 
    transition: background-color .3s ease-in;
    outline: transparent;

    @include for-tablet-landscape-only {
      width: 65px;
      height: 65px;
    }
    
    &::before {
      content: '';
      display: block;
      width: 127px;
      height: 127px;
      border-radius: 100%;
      background-color: rgba($icon, 0.4); 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;

      @include for-tablet-landscape-only {
        width: 90px;
        height: 90px;
      }
    }    

    svg {      
      width: 22px;
      height: 25px;
      fill: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      outline: transparent;
      transition: fill .3s ease-in;

      &:hover {
        fill: $greeninput;
      }

      &:focus {
        fill: $white;
      }
    }

    &:focus {
      background-color: $white;
    }
  }
}