.footer {
  font-size: 14px;
  line-height: 1.7;
  color: $graytext;
  
  @include for-tablet-portrait-only {
    font-size: 16px;    
  }
		
  &__top {
    padding: 79px 0 81px;
    display: grid;
    grid-template-columns: 300px 300px 300px 270px;    
    
    @include for-big-desktop-only  {
      grid-template-columns: repeat(4, 1fr); 
      column-gap: 20px;     
    }
    
    @include for-desktop-only {
      grid-template-columns: repeat(2, 1fr); 
      max-width: 600px;
      column-gap: 150px;
      row-gap: 30px;     
      margin: 0 auto;
      padding: 50px 0;
    }
    
    @include for-tablet-landscape-only {
      column-gap: 100px;      
    }
    
    @include for-tablet-portrait-only {
      column-gap: 50px;    
    }
    
    @include for-phone-only {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-wrap: wrap;
      max-width: 270px;      
      padding: 40px 0;     
    }
  }  

  &__item {
    &:not(:last-child) {
      @include for-tablet-portrait-only {
        margin-bottom: 20px;        
      }

      @include for-phone-only {
        margin-bottom: 0;
      }
    }

    &:nth-child(3) {
      @include for-phone-only {
        margin-bottom: 0;
      }
    }

    &--address {
      max-width: 195px;

      @include for-desktop-only {
        max-width: 290px; 
        width: 100%;      
        
      }
      
      @include for-phone-only {
      }
    }

    &--form {
      max-width: 270px;      
    }

    p {     
      margin-bottom: 35px;

      @include for-tablet-portrait-only {
        margin-bottom: 20px;
      }
    }  
  }

  &__logo {
    display: block;
    margin-bottom: 25px;
  }
  
  &__title {
    @extend %sans-700;
    @include line-clamp-1;
    font-size: 16px;
    line-height: 1;
    color: $titlefooter;
    text-transform: uppercase;
    margin: 18px 0 21px;
    
    @include for-tablet-portrait-only {
      margin: 10px 0;      
    }
  }   
  
  &__point:not(:last-child) {
    margin-bottom: 8px;
  }  

  &__link {   
    border-bottom: 1px solid transparent;
    transition: border-color .3s ease-in-out;

    &:hover {     
      border-color: $graytext;
    }

    &:focus {
      outline-color: $graytext;
    }

    &:active {
      color: $icon;      
    }
  }   

  &__bottom {
    padding: 24px 0 39px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dae4e9;
    
    @include for-tablet-landscape-only {
      padding: 20px 0 30px;      
    }
    
    @include for-phone-only {
      flex-direction: column-reverse;
      padding: 20px 0 15px;      
    }

    p {  
      font-size: 12px;
      margin-right: 20px;

      @include for-tablet-portrait-only {
        font-size: 15px;
      }      
    }
  }
  
  &__menu {
    display: flex;
    justify-content: space-between;

    @include for-phone-only {
      max-width: 280px;
      margin-bottom: 20px;
    }
  }

  &__par:not(:last-child) {
    margin-right: 30px;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -15px;
      top: 3px;      
      width: 2px;
      height: 17px;
      background-color: $graytext;
      
      @include for-phone-only {
        right: -25px;        
      }
    } 
  }
}

.address {
  font-style: normal;
  
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {     
    color: inherit;
    border-bottom: 1px solid transparent;
    transition: border-color .3s ease-in-out;
    

    &:hover {
      border-color: $graytext;
    }

    &:focus {
      outline: 1px solid $graytext;
    }

    &:active {
      color: $icon;      
    }

    &--phone,
    &--mail {
      white-space: nowrap;
    }
  }

  &__subtitle {
    text-transform: uppercase;
  }
}

.form {
  @extend %sans-400;
  display: flex;

  @include for-desktop-only {
    flex-wrap: wrap;
    max-width: 290px; 
  }
  
  &__label { 
    width: 100%;   
    @include for-desktop-only {
    }
  }
  

  &__input {
    font-size: 12px;
    background-color: rgba($accent, 0.2);
    padding: 9px 16px;
    max-width: 170px;
    width: 100%;
    border: none;
    outline: 1px solid transparent;
    cursor: pointer;
    transition: outline-color .3s ease-in-out;    
    
    @include for-desktop-only {
      text-align: center;
      max-width: 290px;
      width: 100%;
      padding: 12px;
    }
    
    @include for-tablet-portrait-only {
      font-size: 14px;
      padding: 15px;
    }
    
    &:hover {
      outline-color: $graytext;
    }
    
    &:focus,
    &:active {
      background-color: $white;
      outline-color: $graytext;
    }
    
    &::placeholder {
      color: $greeninput;
    }
  }  

  &__btn {
    font-size: 14px;
    background-color: $icon;
    color: $white;   
    padding: 0 18px;
    outline: 1px solid transparent;
    max-width: 100px;
    width: 100%;
    transition: background-color .3s ease-in-out;
    
    @include for-desktop-only {
      max-width: 290px;           
      padding: 12px;      
    }
    
    @include for-tablet-portrait-only {
      padding: 15px;      
      font-size: 15px;
    }
    
    &:hover {      
      background-color: $graytext;      
    }
    
    &:focus {
      outline-color: $greeninput;
    }
    
    &:active {
      background-color: $graytextdark;
    }
  } 
}