.lock {
  overflow: hidden;
}

.header {  
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 144px;
    z-index: 5;    

    @include for-desktop-only {
      flex-wrap: wrap;
    } 

    @include for-tablet-portrait-only {
      min-height:  120px;
      align-content: stretch;
    }

    @include for-tablet-portrait-only {
      position: relative;     

      &::before {
        content: '';
        display: block;
        min-height: 120px;
        min-width: 100%;
        background-color: $white;
        position: absolute;
        top: 0;
        left: -15px;
        right: -15px;
        z-index: 4;         
      }
    }

    &--active .menu {
      @include for-tablet-portrait-only {
        transform: translateY(0%);
      }
    }  
  }

  &__btn {
    background-color: transparent;
    border: none;
    outline: transparent;
    padding: 0;
    cursor: pointer;
    display: none;

    @include for-tablet-portrait-only {
      display: block;
      z-index: 4;
      margin-left: 65px;
      order:3;
    }
  }
}

.logo {
  z-index: 4;
  &__img {
    max-width: 146px;
    min-height: 39px;
    object-fit: cover;

    @include for-big-desktop-only  {
      max-width: 120px;
      min-height: 32px;     
    }   

    @include for-tablet-portrait-only {
      position: relative;
      z-index: 4;
    }
  }  
}

.menu {
  display: flex;  
  padding: 0 0 7px 346px;
  
  @include for-big-desktop-only  {
    padding: 0;    
  }

  @include for-desktop-only {
    order:2;
    min-width: 100%;
    justify-content: center;    
  }

  @include for-tablet-portrait-only {    
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: -15px;
    right: -15px;
    bottom: 0;
    min-height: 100vh;	
    text-align: center;
    transform: translateY(-200%);
    transition: all 0.5s ease-in-out;
    background-color: $accent;
    padding: 180px 0 15px;    
    overflow: auto;    
  }  

  &__item:not(:last-child) {
    margin-right: 35px;

    @include for-desktop-only {
      margin-right: 40px;
    }

    @include for-tablet-portrait-only {
      margin-right: 0;
    }
  } 
  
  &__item {
    @include for-desktop-only {
      margin: 0 16px;      
    }

    @include for-tablet-portrait-only {
      padding-bottom: 40px;
      margin: 0;
    }
  }

  &__link {
    position: relative;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.4px;
    color: $greendark;
    border-bottom: 1px solid transparent;
    transition: color .3s ease-in, border-color .3s ease-in;
    
    @include for-tablet-portrait-only {
      display: block; 
      font-size: 18px;
      line-height: 1.4;
      letter-spacing: 0.8px;
    }

    &:hover {
      color: $menu;
      border-color: $menu;
    }

    &:focus {
      outline-color: $greendark;
    }

    &:active {
      background-color: $icon;
      font-weight: 600;
    }

    &--submenu {
      &::before {
        content: '+';
        position: absolute;
        bottom: 0;
        left: 100%;

        @include for-tablet-portrait-only {
          left: 55%;
        }
        
        @include for-phone-only {
          left: 60%;          
        }
      }
    }
  }
}

.usernav {
  display: flex;
  position: relative;     
  
  @include for-tablet-portrait-only {
    position: static;
    justify-content: flex-end;
    order: 3;
    width: 100%;
    z-index: 4;    
  } 
  
  &__form {
    display: flex;
    align-items: center;

    @include for-tablet-portrait-only {
      position: relative;
    }
    
    .header__input {
      position: absolute;
      top: 2px;
      left: 0;
      border: 1px solid $greeninput;
      border-radius: 5px;
      outline: transparent;
      display: none;
      
      &.active {
        display: block;
        
        @include for-big-desktop-only  { 
          top: 100%;        
          left: -70%;         
          min-width: 277px;
        } 

        @include for-desktop-only {
          top: 2px;
          left: -90%;
        }

        @include for-tablet-landscape-only {
          left: -105%;
        }
        
        @include for-tablet-portrait-only {        
          top: 140%;
          left: -5px;      
        }
      }                             
    }
  }
  
  &__link {
    display: block;     
    position: relative;
    transition: background-color .3s ease-in;   
    
    svg {
      width: 21px;
      height: 21px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $titlemain; 
      transition: fill .3s ease-in;   
    }

    &--search,
    &--user {
      width: 50px;
      height: 50px;
      border-radius: 100%;

      @include for-tablet-landscape-only {
        width: 40px;
        height: 40px;
      }
    }
    
    &--search {
      background-color: rgba($icon, 0.2);    
      margin: 0 20px 0 180px;
      
      @include for-big-desktop-only  {
        margin: 0 20px 0 0;
      }
  
      &:hover {
        background-color: $icon; 
        
        svg {
          fill: $white;
        }
      }

      &:focus {
        background-color: rgba($icon, 0.2); 
        border: 2px solid $greendark;

        & svg {
          fill: $greendark;
        }
      }
      
      &:active {
        background-color: $icon; 
        
        & svg {
          fill: $white;
        }
      } 
    }
  
    &--heart,
    &--cart {
      width: 90px;
      height: 50px;
      background-color: $accent;
      position: relative;
      
      @include for-tablet-landscape-only {
        width: 80px;
        height: 40px;
      }      
  
      &:hover {
        background-color: rgba($accent, 0.6); 

        svg {
          fill: $white;
        }
      }

      &:focus {
        background-color: rgba($icon, 0.2); 
        border: 2px solid $greendark;

        & svg {
          fill: $greendark;
        }
      }
      
      &:active {
        background-color: $icon; 
        
        & svg {
          fill: $white;
        }
      } 
    }  
  
    &--heart {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px; 
      
      @include for-tablet-landscape-only {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;        
      }
  
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        z-index: 2;
        width: 1px;
        height: 32px;
        background-color: $white;
        opacity: 0.4;         
      }
    }  
  
    &--cart {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      margin-right: 17px;      
    }

    &--user {
      background-color: $icon;     
      
      svg {
        fill: $white;
      }
      
      &:hover {
        background-color: $greendark;        
      }
      
      &:focus {
        background-color: rgba($icon, 0.2); 
        border: 2px solid $greendark;

        svg {
          fill: $greendark;
        }
      }
      
      &:active {
        background-color: $icon; 
        
        svg {
          fill: $white;
        }
      }      
    }    
  }

  &__num {
    position: absolute;
    z-index: 2;
    bottom: 22px;   
    left: 50px;    
    display: block;
    min-width: 16px;
    height: 16px;
    border-radius: 8px;
    padding: 0 1px;
    background-color: $white;    
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
    
    @include for-tablet-landscape-only {
      bottom: 20px;   
      left: 45px;
    }    
  }  
}