.prodweek {
  padding: 68px 0;
  
  @include for-desktop-only {
    padding: 50px 0;
  }

  @include for-phone-only {
    padding: 40px 0;
  }
  
  &__title {
    color: $title;
    margin-bottom: 21px;

    @include for-phone-only {
      font-size: 26px;
      margin-bottom: 30px;
    }
  }  

  &__items {
    display: grid;
    margin-bottom: 186px;
    row-gap: 41px;
    grid-template-columns: repeat(4, 1fr);    
    column-gap: 30px;      
    
    @include for-desktop-only {
      grid-template-columns: repeat(3, 1fr); 
      max-width: 850px; 
      margin: 0 auto 150px; 
      row-gap: 25px;
      column-gap: 25px;      
    }
    
    @include for-tablet-portrait-only {
      grid-template-columns: repeat(2, 1fr); 
      max-width: 600px; 
      margin: 0 auto 120px; 
      row-gap: 25px;
      column-gap: 25px;        
    }

    @include for-phone-only {
      display: block;
      max-width: 280px;
      margin: 0 auto;      
    }    
  } 
  
  &__item {   
    position: relative;
    background-color: $white;
    box-shadow: 0px 6px 47px 3px rgba(38, 38, 38, 0.05);
    border-radius: 10px;   
    transition: background-color .3s ease-in-out;    
    
    @include for-phone-only {      
      margin-bottom: 25px;      
    }
    
    &:hover {
      background-color: rgba($accent, 0.2);
      
      .usermenu {
        opacity: 1;        
      }
    }
  } 
  
  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 380px;
    padding: 30px 30px 33px;
    overflow: hidden;
    
    @include for-desktop-only {
      min-height: 335px;      
      padding: 25px;      
    }    
  
    &.prodweek__article--list {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      height: 500px;
      padding: 0;
      
      @include for-desktop-only {
        height: auto;        
      }     

      @include for-phone-only {
        flex-direction: column;        
      }

      .usermenu {
        opacity: 1;
        top: 75%;
        left: 57%;
        
        @include for-desktop-only {
          top: 81%;
          left: 59%;         
        }
        
        @include for-tablet-landscape-only {
          top: 77%;
          left: 55%;
        }

        @include for-phone-only {
          top: 90%;
          left: 50%;          
        }

        &__link {
          display: none;
        }

        &__btn {
          border-radius: 0;
          width: 50px;
          height: 50px;

          &:not(:last-child) {
            margin-right: 10px;

            @include for-tablet-portrait-only {
              margin-right: 20px;
            }
          }
        }
      }

      .prodweek__link {
        @include for-phone-only {
          margin: 0 auto;
        }
      }

      .prodweek__visual--des {
        position: static; 
      }

      .prodweek__visual {
        max-width: 370px;
        width: 100%;      
        min-height: 500px;
        display: flex;
        justify-content: space-between;
        padding: 25px;
        border: 1px solid $titlenum;
        
        @include for-desktop-only {
          min-height: 400px;
          padding: 15px;          
        }
        
        @include for-tablet-portrait-only {
          min-height: 350px;             
        }

        @include for-phone-only {
          margin-bottom: 20px;          
        }        
      }
      
      .prodweek__img {
        width: 320px; 
        height: max-content;

        @include for-desktop-only {
          width: 280px;
        }
      }
      
      .prodweek__content {
        display: block;
        max-width: 440px;
        padding-top: 75px;       
        margin-left: 70px;
        
        @include for-desktop-only {
          padding-top: 40px; 
          margin-left: 40px;
        }
        
        @include for-tablet-portrait-only {          
          padding-top: 20px; 
          margin-left: 30px;
        }

        @include for-phone-only {
          padding-top: 0;
          margin: 0 auto;          
        }
      }

      .prodweek__name {
        font-size: 40px; 
        @extend %rubik-400;
        color: $titlelamp;       
        margin-bottom: 10px;         
        
        @include for-desktop-only {
          margin-bottom: 5px;
        }
      }

      .prodweek__star,
      .prodweek__price,
      .prodweek__desc {
        display: block;      
        margin-bottom: 25px;
        
        @include for-desktop-only {
          margin-bottom: 20px;
        }

        @include for-tablet-portrait-only {
          margin-bottom: 10px;          
        }       
      }
      
      .prodweek__price {
        @extend %rubik-400;
        font-size: 30px;
        color: $titlelamp;
        line-height: 1.5;        
      }     

      .prodweek__desc {
        @include line-clamp-3;
        max-width: 410px;

        @include for-phone-only {
          margin-bottom: 80px;
        }
      }
    }
  }
  
  &__link { 
    display: block;      
  }
  
  &__visual,
  &__content {
    max-width: 100%;
  }
  
  &__visual {
    display: flex;
    align-items: center;
    max-width: 238px;
    min-height: 206px;
  
    &--des {
      overflow: hidden;
      position: absolute;
      top: 15%;    
      right: -20%;   
      max-width: 300px;
      min-height: 154px;
    }
  }
  
  &__content {
    @extend %sans-700;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  
  &__name {    
    @include line-clamp-1;
    transition: color .3s ease-in; 
    letter-spacing: -0.9px;
    
    @include for-big-desktop-only  {
      letter-spacing: 0; 
    }

    &:hover {
      color: $icon;
    }
  }
  
  &__star {
    display: none;
  }
  
  &__price {
    color: $icon;  
    text-transform: uppercase;
    letter-spacing: 1px;
  } 
  
  &__desc {
    display: none;
  }
}

.filter {
  text-align: center; 
  display: flex;  
  justify-content: center;
  margin-bottom: 72px;
  
  @include for-desktop-only {    
    margin-bottom: 40px;
  }
  
  @include for-phone-only {
    display: grid;
    grid-template-columns: repeat(2, 145px); 
    column-gap: 20px;  
    text-align: left; 
    margin-bottom: 25px;
  }
  
  &__item { 
    @include for-phone-only {
      padding: 0 30px 0;
      margin-bottom: 20px;
    }

    &:not(:last-child) {
      margin-right: 25px;
      
      @include for-phone-only {        
        margin-right: 0;        
      }
    }
  }
  
  &__btn {    
    padding: 0;    
    @extend %sans-700;    
    line-height: 1.2;
    letter-spacing: 0.8px;
    color: $menu;    
    transition: color .3s ease-in;

    &:hover {
      color: $menuhover;
    }
    
    &:focus {
      color: $icon;
    }
    
    &:active {
      color: $icon;
      border-bottom: 2px solid $icon;
    }

    &.mixitup-control-active {
      color: $titlemain;
    }
  }
}

.usermenu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translateX(-50%); 
  opacity: 0;
  transition: opacity .3s ease-in;

  @include for-tablet-portrait-only {
    opacity: 1;
    z-index: 1;
  }
  
  &__link,
  &__btn {
    display: block;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 2px solid transparent;
    background-color: $white;
    box-shadow: 5px 6px 47px 10px rgba(38, 38, 38, 0.051);
    transition: background-color .3s ease-in;       

    &:hover {
      background-color: $icon;

      svg {         
        fill: $white;                   
      }
    }

    &:focus,
    &:active {     
      border-color: $greendark;
    }   
    
    &:not(:last-child) {
      margin-right: 16px;
    }    
    
    svg {
      width: 21px;
      height: 21px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $icon;
      transition: fill .3s ease-in;
    }
  }  
}

.prodlamp {  
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    column-gap: 34px;

    @include for-desktop-only {
      column-gap: 25px;
    }

    @include for-tablet-landscape-only {
      display: block;
    }
  }  
  
  &__item {    
    position: relative;
    background-color: rgba($accent, 0.4);
    min-height: 390px;
    padding-right: 10px;

    @include for-big-desktop-only  {
      min-height: 340px;
    }

    @include for-tablet-landscape-only {
      display: flex;
      justify-content: space-evenly;
      position: static;
      min-height: 300px;
      height: 100%;
      padding-right: 0;
    }    

    @include for-phone-only {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px 10px;
    }
    
    &:not(:last-child) {
      @include for-tablet-landscape-only {
        margin-bottom: 50px;        
      }
    }

    &:last-child {
      @include for-tablet-landscape-only {        
        flex-direction: row-reverse;
      }

      @include for-phone-only {
        flex-direction: column;
      }
    }
  } 
  
  &__visual {   
    position: absolute;
    bottom: 80px;
    left: 16%; 
    max-width: 100%;    
    height: auto;
    
    @include for-big-desktop-only  {      
      left: 10%;      
    }

    @include for-desktop-only {
      left: 0;
    }

    @include for-tablet-landscape-only {
      position: static;      
      margin: 35px 15px;     
    }
    
    @include for-phone-only {
     margin:0 0 20px;    
    }
  } 

  &__img {    
    max-width: 233px;
    object-fit: contain;

    @include for-big-desktop-only  {
      max-width: 180px;
    }

    @include for-tablet-landscape-only {     
      max-width: 150px;
    } 
    
    @include for-phone-only {
      max-width: 120px;      
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 280px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 49%;      
    text-transform: capitalize;

    @include for-desktop-only {
      max-width: 200px;
      left: 48%;
    }
    
    @include for-tablet-landscape-only {
      max-width: 290px;
      position: static;
      margin:0 25px;
    }    
  }  
  
  &__title {  
    @extend %sans-700;
    @include line-clamp-2;
    font-size: 26px;
    line-height: 1.2; 
    margin-bottom: 15px; 
    
    @include for-desktop-only {
      font-size: 22px;
      line-height: 1.1;       
      text-align: center;
    }
    
    @include for-tablet-landscape-only {
      font-size: 26px;
      line-height: 1.2;      
    }
    
    @include for-phone-only {
      max-width: 290px;
      font-size: 22px;
      line-height: 1.1;      
    }
  } 
  
  & p {
    @include line-clamp-3; 
    margin-bottom: 30px;
    
    @include for-phone-only {
      width: 260px;
      margin: 0 15px 15px;
    }
  }

  &__btn {
    @extend %rubik-500;   
    font-size: 15px;
    max-width: 200px;
    min-height: 60px;
    padding: 16px 19px 16px 29px;
    border-radius: 5px;
    border: 1px solid rgba($greendark, 0.4);
    background-color: transparent;
    color: $greendark;
    transition: background-color .3s ease-in,
    color .3s ease-in, border-color .3s ease-in; 
    
    @include for-phone-only {      
      position: relative;
      min-width: 280px;     
      padding: 16px 45px;
      margin: 0 auto;
    }
    
    svg {      
      fill: $greendark;
      transition: fill .3s ease-in;      
    }
    
    &:hover {
      border-color: transparent;
      background-color: rgba($greendark, 0.7);
      color: $white;
      
      svg {
        fill: $white;
      }
    }
    
    &:focus {
      background-color: $white;
      color: $greendark;
      
      svg {        
        fill: $greendark;
      }
    }    
    
    &:active {
      background-color: $greendark;      
      color: $white;
      
      svg {
        fill: $white;
      }
    }
  }
}