.product {
  padding: 59px 0 0;
  
  @include for-tablet-landscape-only {
    position: relative;
    padding: 80px 0 0;    
  }

  &__inner {
    display: flex;

    &--list {
      @include for-phone-only {
        justify-content: center;
      }
    }
  }

  &__options {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
    padding-top: 53px;
    background: $white;    
    
    @include for-desktop-only {
      margin-right: 20px;      
    }
    
    @include for-tablet-landscape-only {
      position: absolute;
      top: 50px;
      left: -100%;     
      z-index: 2;
      max-width: 50%;
      min-height: 100vh;
      padding: 30px 50px; 
      overflow: auto;     
      transition: left 0.5s ease-in-out;
    }
    
    @include for-tablet-portrait-only {
      max-width: 80%;      
    }
    
    @include for-phone-only {
      max-width: 100%;      
    }
    
    &--active {     
      @include for-tablet-landscape-only {
        left: 0;        
      }
    }  
  }

  &__content {
    @include for-desktop-only {
      max-width: 606px;
      margin: 0 auto;
    }

    @include for-tablet-landscape-only {
      max-width: 880px;
    }
    
    &--list {
      max-width: 870px;
      width: 100%;
      margin: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 30px;    
    
    @include for-tablet-landscape-only {
      justify-content: space-between;      
    }    

    svg {
      height: 20px;
      transition: fill .3s ease-in;

      &:hover {
        fill: $graytext;
      }
    }
  }
  
  &__button {
    &.product__button--active {       
      svg {
        fill: $titlemain;
      }
    }      
  }

  &__filter,
  &__switch {
    @include for-tablet-landscape-only {
      position: absolute;
      top: -5px; 
    }    
  }

  &__filter {
    display: none;

    @include for-tablet-landscape-only {
      display: block;
      left: 20px;
      transform: translateY(100%);
      z-index: 3;
      width: 30px;
      height: 30px;
    }

    svg {
      width: 20px;      
      fill: $icon;      
    }
  }

  &__switch {
    @include for-tablet-landscape-only {      
      right: 20px;
      transform: translateY(100%);
    }

    svg {
      fill: $icon;     
      width: 25px;
      margin-left: 15px;
      
      @include for-tablet-portrait-only {
        margin-left: 25px;        
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    row-gap: 41px;
    margin-bottom: 104px;
    
    @include for-desktop-only {
      grid-template-columns: repeat(2,1fr);      
      row-gap: 30px;      
      margin-bottom: 90px;
    }
    
    @include for-tablet-landscape-only {     
      margin-bottom: 70px;
    }

    @include for-tablet-portrait-only {
      display: block;
    }

    @include for-phone-only {
      margin-bottom: 50px;
    }

    &.product__items--list {
      display: block;
      width: 100%;
      max-width: 100%;
      margin-bottom: 70px;

      @include for-tablet-landscape-only {
        margin-bottom: 50px;
      }

      @include for-phone-only {
        margin-bottom: 35px;
      }
    }
  }

  &__item {    
    @include for-tablet-portrait-only {
      margin-bottom: 30px;
    }

    &.product__item--list {
      max-width: 100%;
      width: 100%;
      box-shadow: none;
      border-radius: 0;
      margin-bottom: 45px;

      @include for-phone-only {
        margin-bottom: 75px;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }
  
  &__wrap {
    background-color: $partners-bg;
  }
}

.option {
  &__title {
    position: relative;
    display: inline-block;
    @extend %sans-700;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 24px;

    &::before {
      content: '';
      width: 38px;
      height: 3px;
      background-color: $icon;
      position: absolute;
      top: 9px;
      right: -53px;
    }

    &--price,
    &--prodrecent {
      margin-bottom: 35px;
    }
  }  

  &--category {
    margin-bottom: 48px;
  }  

  &--price {
    margin-bottom: 74px;
  }   

  &__num {
    display: flex;
    justify-content: space-between;
  }

  &__from,
  &__to {    
    font-size: 14px;    
  }

  &__to {
    text-align: right;
  }

  &__label {
    &--category,
    &--brand {
      cursor: pointer;      
		}
  }  
 
  &__input {
    &--category,
    &--brand {
      @extend %input-hidden;
   
      &:checked + .option__checkbox--brand,
      &:checked + .option__name--category {
        background-color: rgba($icon, .2);
      }     
    }

    &--brand {
      &:checked + .option__checkbox--brand {
        .option__num--brand {
          color: $titlemain;
        }
      }
		}
  }		

  &__checkbox {    
    &--brand {
      display: flex;
      justify-content: space-between;
      padding: 13px 25px 15px 15px;
      border-radius: 5px;      
      
      &:checked  {
        background-color: rgba($icon, .2);
      }     
      
      &:hover {
        .option__num--brand,
        .option__name--brand {
          color: $icon;
        }
      }
		}
  }	

  &__name {
    &--category {
      display: block;
      position: relative;
      padding: 14px 33px 14px 15px;
      border-radius: 5px;     
      
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 25px;
        width: 7px;
        height: 7px;
        transform: translate(0, -50%) rotate(45deg);      
        border-top: 2px solid $titlemain;
        border-right: 2px solid $titlemain;
        transition: border-color 0.3s ease-in-out;
      }

      &:hover::before {
        border-color: $icon;
      }
    }    
    
    &--brand,
    &--category {
      line-height: 1;
      transition: color 0.3s ease-in-out;     

      &:hover {
        color: $icon;
      }
		}
  }
  
  &__num {
    &--brand {
      line-height: 1;
      color: $titlenum;
      transition: color 0.3s ease-in-out;      
		}
  }

  &--brand {
    margin-bottom: 42px;
  }
}

// option--price
.irs--flat {
  height: 15px;
  margin-bottom: 13px;

 .irs-line {
    top: 1px;
    height: 3px;
    background-color: $icon;
    border-radius: 0;
  }

  .irs-handle {
    top: -5px;
    width: 15px;
    height: 15px;
    background-color: $icon;
  }

  .irs-handle>i:first-child {  
    display: none;
  }

  .irs-bar {
    top: 1px;
    height: 5px;
    background-color: $icon;
  }
}

.irs-min,
.irs-max,
.irs-from,
.irs-to,
.irs-single {  
  display: none;
}
// end option--price

.prodrecent { 
  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  &__link {
    display: block;
    padding-top: 2px;    
   
    &--img {
      display: flex;  
      justify-content: center;
      align-items: center;
      width: 69px;
      height: 69px;
      border: 3px solid rgba($icon, .2);
      background-color: $white;
      transition: background-color .3s ease-in;
      
      &:hover {
        background-color: rgba($icon, .1);
      }
    }
  }  

  &__img {
    margin: 0 auto;    
  }

  &__content {
    padding-left: 22px;
  }

  &__title {
    @extend %rubik-400;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    color: $titlelamp;
    max-width: 100px;
    margin-bottom: 14px;
    transition: color .3s ease-in;
    @include line-clamp-1;

    &:hover {
      color: $icon;
    }

    &:focus {
      color: $greendark;
    }

    &:active {
      color: $icon;
      border-bottom: 1px solid $icon;
    }
  }  
  
  &__price {
    font-size: 14px;
    line-height: 1.8;
    color: $titlelamp;
  }  
}

// star
.jq-ry-container {  
  padding: 0 5px 0 0;
}
// end star

.pagination {
  display: flex;
  justify-content: center; 
  margin-bottom: 120px;
  
  @include for-desktop-only {
    margin-bottom: 100px;
  }
  
  @include for-tablet-landscape-only {
    margin-bottom: 80px;    
  }

  @include for-phone-only {
    margin-bottom: 50px;
  }

  &--list {
    justify-content: flex-start; 

    @include for-phone-only {
      justify-content: center;
    }
  }
  
  &__list {
    display: flex;
    margin-right: 15px;  
  }  

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }  

  &__link {
    display: block;
    padding: 9px 20px;
    border: 1px solid $icon;
    transition: background-color .3s ease-in, color .3s ease-in;

    &:not(.pagination__link--active):hover {
      background-color: $titlemain;
      color: $white;
    }

    &--active {
      background-color: $icon;
      color: $white;
    }
  }  
}

.partners {  
  &--small { 
    max-height: 250px;
    
    @include for-tablet-landscape-only {
      max-height: 200px;      
    }

    @include for-phone-only {
      max-height: 170px;
    }
  }
}