<li class="blog__item">
  <div class="blog__visual">
    <a class="blog__link--img" href="#">
      <img class="blog__img" src="../images/blog/@@image.jpg" alt="photo desing of room">
    </a>  
    <div class="blog__meta">
      <time class="blog__data" datetime="2020-02-28">
        <a class="blog__link" href="#">
          <svg>
            <use xlink:href="images/icons/sprite.svg#calendar"></use>
          </svg>
          @@data
        </a>
      </time>
      <span class="blog__author">
        <a class="blog__link" href="#">
          <svg>
            <use xlink:href="images/icons/sprite.svg#author-sign"></use>
          </svg> 
         @@author
        </a>
      </span>
    </div>
  </div>  
  <h3 class="blog__title">
    @@title                
  </h3>
  <p>@@text</p>
  <a class="prodlamp__btn btn blog__btn" href="#">                  
    View More                 
    <svg>
      <use xlink:href="images/icons/sprite.svg#arrow"></use>
    </svg>
  </a>
</li>