<li class="comments__item">
  <img class="comments__avatar" src="../../images/blog/@@img.jpg" alt="user's photo user @@name">
  <div class="comments__content">
    <div class="comments__top">      
      <span class="comments__name">
        @@name
      </span>      
      <span class="comments__data">
        @@data
      </span>
    </div>
    <p class="comments__text">
      @@text
    </p>
    <a class="comments__link" href="#">
      Reply 
      <svg>
        <use xlink:href="../../images/icons/sprite.svg#arrow-blog"></use>
      </svg>   
    </a>
  </div>
</li>