<footer class="footer">
  <div class="container container--section">
    <div class="footer__top">
      <h2 class="sr-only">Contact and menu shop Glee</h2>
      <div class="footer__item footer__item--address">
        <a class="logo footer__logo" href="#">
          <img class="logo__img" src="images/global/logo.png" alt="logo Glee">
        </a>
        <address class="address">
          <ul class="address__items">
            <li class="address__item">
              <span class="address__subtitle">Address:</span>
              <a class="address__link" href="#">                  
                4772 Wines Lane Houston, TX 77032
              </a>
            </li>
            <li class="address__item">
              <span class="address__subtitle">Telephone:</span>
              <a class="address__link address__link--phone" href="tel:+8323475843">+832-347-5843</a>
            </li>
            <li class="address__item">
              <span class="address__subtitle">Email:</span>
              <a class="address__link address__link--mail" href="mailto:contact@Glee.com">contact@Glee.com</a>
            </li>
          </ul>             
        </address>
      </div>
      <div class="footer__item">
        <h3 class="footer__title">Services</h3>
        <ul class="footer__list">
          <li class="footer__point">
            <a class="footer__link" href="#">About us</a>
          </li>
          <li class="footer__point">
             <a class="footer__link" href="#">Return Policy</a>
          </li>
          <li class="footer__point">
             <a class="footer__link" href="#">Our Blog</a>
          </li>
          <li class="footer__point">
             <a class="footer__link" href="#">Contact Us</a>
          </li>
          <li class="footer__point">
             <a class="footer__link" href="#">Terms & Condition</a>
          </li>
        </ul>  
      </div>
      <div class="footer__item">
        <h3 class="footer__title">Account</h3>
        <ul class="footer__list">
          <li class="footer__point">
             <a class="footer__link" href="#">Your Account</a>
          </li>
          <li class="footer__point">
             <a class="footer__link" href="#">Checkout</a>
          </li>
          <li class="footer__point">
             <a class="footer__link" href="#">Login</a>
          </li>
          <li class="footer__point">
             <a class="footer__link" href="#">Register</a>
            </li>            
        </ul>
      </div>
      <div class="footer__item footer__item--form">
        <h3 class="footer__title">Newsletter</h3>
        <p>Subscribe by our newsletter and get
          update protidin.</p>
        <form class="form" action="#">
          <label class="form__label">
            <input class="form__input" type="email" placeholder="Email address" required>
          </label>
          <button class="form__btn" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="footer__bottom">
      <p>
        &copy;2020 CopyRight Example. All rights reserved. 
      </p>
      <nav class="footer__nav">
        <ul class="footer__menu">
          <li class="footer__par">
            <a class="footer__link" href="#">Home</a>
          </li>
          <li class="footer__par">
            <a class="footer__link" href="#">About</a>
          </li>
          <li class="footer__par">
            <a class="footer__link" href="../blog-list.html">Blog</a>
          </li>
          <li class="footer__par">
            <a class="footer__link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>