<li class="news__item">
  <div class="news__visual">
      <a class="news__link" href="#">
        <img class="news__img" src="images/news/@@image.jpg" alt="photo desing of room">
      </a>
    </div>
    <div class="news__content">
      <span class="news__desc">
         <a class="news__link" href="#">News</a>
      </span>
      <h3 class="news__name">
        <a class="news__link" href="#">
          @@text
        </a>
      </h3>
      <div class="news__meta">
        <time class="news__data" datetime="2020-02-28">
          <a class="news__link" href="#">
            <svg>
              <use xlink:href="images/icons/sprite.svg#calendar"></use>
            </svg>
            @@data
          </a>
        </time>
        <span class="news__author">
          <a class="news__link" href="#">
            <svg>
              <use xlink:href="images/icons/sprite.svg#author-sign"></use>
            </svg> 
           @@author
          </a>
        </span>
      </div>
    </div>
</li>