<div class="option option--category">
  <h3 class="option__title">Category</h3>
  <form class="option__form--category" action="#">      
    <label class="option__label--category">
      <input class="option__input--category" type="radio" value="chair" name="category" checked>                  
      <span class="option__name--category">Chair</span>
    </label>      
    <label class="option__label--category">
      <input class="option__input--category" type="radio" value="table" name="category">                  
      <span class="option__name--category">Table</span>                
    </label>
    <label class="option__label--category">
      <input class="option__input--category" type="radio" value="lamp" name="category">                  
      <span class="option__name--category">Lamp</span>                
    </label>
    <label class="option__label--category">
      <input class="option__input--category" type="radio" value="watch" name="category">                  
      <span class="option__name--category">Watch</span>                
    </label>
    <label class="option__label--category">
      <input class="option__input--category" type="radio" value="clock" name="category">                  
      <span class="option__name--category">Clock</span>                
    </label>
  </form>              
</div>