<div class="pagination">              
  <ul class="pagination__list">
    <li class="pagination__item">
      <span class="sr-only">open first page of the shop catalog</span>
      <a class="pagination__link pagination__link--active" href="#">1</a>
    </li>
    <li class="pagination__item">
      <span class="sr-only">open second page of the shop catalog</span>
      <a class="pagination__link" href="#">2</a>
    </li>
    <li class="pagination__item">
      <span class="sr-only">open third page of the shop catalog</span>
      <a class="pagination__link" href="#">3</a>
    </li>
  </ul>
  <span class="sr-only">open next page of the shop catalog</span>
  <a class="pagination__link" href="#">Next</a>
</div>