<div class="container container--partners">
  <ul class="@@classes">
    <li class="partners__item">
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/partner-1.png" alt="logo Peterson Stephanie">
      </a>
    </li>
    <li class="partners__item">
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/partner-2.png" alt="logo KMN consulting">
      </a>
    </li>
    <li class="partners__item">
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/partner-3.png" alt="logo Chainforce">
      </a>
    </li>
    <li class="partners__item">
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/partner-4.png" alt="logo NextG3N">
      </a>
    </li>
    <li class="partners__item">
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/partner-5.png" alt="logo Vintage">
      </a>
    </li>
    <li class="partners__item">
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/partner-3.png" alt="logo Chainforce">
      </a>
    </li>
    <li class="partners__item">
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/partner-4.png" alt="logo NextG3N">
      </a>
    </li>
    <li class="partners__item">
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/partner-5.png" alt="logo Vintage">
      </a>
    </li>
  </ul>
</div>