<div class="product__options">
  <div class="option option--category">
    <h3 class="option__title">Category</h3>
    <form class="option__form--category" action="#">
      <label class="option__label--category">
        <input class="option__input--category" type="radio" value="chair" name="category" checked>                  
        <span class="option__name--category">Chair</span>                
      </label>
      <label class="option__label--category">
        <input class="option__input--category" type="radio" value="table" name="category">                  
        <span class="option__name--category">Table</span>                
      </label>
      <label class="option__label--category">
        <input class="option__input--category" type="radio" value="lamp" name="category">                  
        <span class="option__name--category">Lamp</span>                
      </label>
      <label class="option__label--category">
        <input class="option__input--category" type="radio" value="watch" name="category">                  
        <span class="option__name--category">Watch</span>                
      </label>
      <label class="option__label--category">
        <input class="option__input--category" type="radio" value="clock" name="category">                  
        <span class="option__name--category">Clock</span>                
      </label>
    </form>              
  </div>

  <div class="option option--price">
    <h3 class="option__title option__title--price">Price</h3>
    <form class="option__form--price" action="#">
      <label class="option__label--price">
        <input class="option__input--price" type="text" data-min="20.00" data-max="834.00" data-from="100.00" data-to="500.00">
        <div class="option__num">
          <sub>
            $<span class="option__from"></span>.00
          </sub>
          <sub>
            $<span class="option__to"></span>.00
          </sub>
        </div>
      </label>
    </form>
  </div>            
  
  <div class="option option--brand">
    <h3 class="option__title">Brand</h3>
    <form class="option__form--brand" action="#">
      <label class="option__label--brand">
        <input class="option__input--brand" type="checkbox" checked> 
        <div class="option__checkbox--brand">
          <span class="option__name--brand">RFL</span>
          <span class="option__num--brand">(10)</span>
        </div>
      </label>
      <label class="option__label--brand">
        <input class="option__input--brand" type="checkbox"> 
        <div class="option__checkbox--brand">
          <span class="option__name--brand">Brothers</span>
          <span class="option__num--brand">(21)</span>
        </div>
      </label>
      <label class="option__label--brand">
        <input class="option__input--brand" type="checkbox"> 
        <div class="option__checkbox--brand">
          <span class="option__name--brand">Regal</span>
          <span class="option__num--brand">(3)</span>
        </div>
      </label>
      <label class="option__label--brand">
        <input class="option__input--brand" type="checkbox"> 
        <div class="option__checkbox--brand">
          <span class="option__name--brand">Nadia</span>
          <span class="option__num--brand">(14)</span>
        </div>
      </label>
      <label class="option__label--brand">
        <input class="option__input--brand" type="checkbox"> 
        <div class="option__checkbox--brand">
          <span class="option__name--brand">Otobi</span>
          <span class="option__num--brand">(6)</span>
        </div>
      </label>
    </form>              
  </div>

  <h3 class="option__title option__title--prodrecent">Recent products</h3> 
  <ul class="prodrecent__items">
    <li class="prodrecent__item">
      <a class="prodrecent__link--img" href="#">
        <img class="prodrecent__img" src="images/product-list1/image-lamp1.png" alt="pendant lamp">                  
      </a>
      <div class="prodrecent__content">
        <a class="prodrecent__link" href="#">
          <h3 class="prodrecent__title">
            Pendant lamp
          </h3>
        </a>
        <div class="star" data-rateyo-rating="4"></div>
        <span class="prodrecent__price">23$</span>
      </div>
    </li>
    <li class="prodrecent__item">
      <a class="prodrecent__link--img" href="#">
        <img class="prodrecent__img" src="images/product-list1/image-lamp2.png" alt="pendant lamp">                  
      </a>
      <div class="prodrecent__content">
        <a class="prodrecent__link" href="#">
          <h3 class="prodrecent__title">
            Pendant lamp
          </h3>
        </a>
        <div class="star" data-rateyo-rating="4"></div>
        <span class="prodrecent__price">23$</span>
      </div>
    </li>
    <li class="prodrecent__item">
      <a class="prodrecent__link--img" href="#">
        <img class="prodrecent__img" src="images/product-list1/image-lamp3.png" alt="pendant lamp">                  
      </a>
      <div class="prodrecent__content">
        <a class="prodrecent__link" href="#">
          <h3 class="prodrecent__title">
            Pendant lamp
          </h3>
        </a>
        <div class="star" data-rateyo-rating="4"></div>
        <span class="prodrecent__price">23$</span>
      </div>
    </li>
  </ul>  
</div>