<div class="product__top">
  <div class="product__filter">
    <svg>
      <use xlink:href="images/icons/sprite.svg#filter"></use>
    </svg>
  </div>
  <div class="product__switch">
    <button class="product__button product__button--active product__button--grid" type="button">
      <svg>
        <use xlink:href="images/icons/sprite.svg#grid"></use>
      </svg>
    </button>
    <button class="product__button product__button--list" type="button">
      <svg>
        <use xlink:href="images/icons/sprite.svg#list"></use>
      </svg>
    </button>
  </div>
</div>