<article class="prodweek__article">
  <div class="usermenu">
    <a class="usermenu__link" href="#">
      <span class="sr-only">push search</span>
      <svg>
        <use xlink:href="images/icons/sprite.svg#search-week"></use>
      </svg>
    </a>
    <button class="usermenu__btn" type="button">
      <span class="sr-only">push cart</span>
      <svg class="icon">
        <use xlink:href="images/icons/sprite.svg#cart-week"></use>
      </svg>
    </button>
    <button class="usermenu__btn" type="button">
      <span class="sr-only">push favorite</span>
      <svg class="icon">
        <use xlink:href="images/icons/sprite.svg#heart-week"></use>
      </svg>
    </button>
  </div>
  <a class="prodweek__link" href="#">
    <div class="@@classes">
      <img class="prodweek__img" src="images/@@image.png" alt="@@name">
    </div>
  </a>
  <div class="prodweek__content">
    <a class="prodweek__link" href="#">
      <h3 class="prodweek__name">@@name</h3>
    </a>
    <div class="prodweek__star" data-rateyo-rating="4"></div>
    <span class="prodweek__price">@@price</span>
    <div class="prodweek__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, delectus, nesciunt, sequi eaque explicabo optio placeat esse tempore nemo dicta.
    </div>
  </div> 
</article>