<li class="recent__item">
  <a class="recent__link--img" href="#">
    <img class="recent__img" src="../images/blog/@@image.jpg" alt="a photo desing room">
  </a>
  <div class="recent__content">
    <a class="recent__link" href="#">
      <p>
        @@text        
      </p>                      
    </a>
    <time class="recent__data" datetime="2020-02-28">                      
      <svg>
        <use xlink:href="images/icons/sprite.svg#calendar"></use>
      </svg>
      @@data                     
    </time>
  </div>
</li>